<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logga in</title>
</head>
<body>
    <div>
        <h1>Logga in</h1>
    </div>

    <div th:if="${error}">
        <p style="color:red;">[[${error}]]</p>
    </div>

    <div>
        <form action="#" th:action= "@{/login}" method="post">
            <label for="username">Användarnamn</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Lösenord</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Logga in</button>

        </form>
    </div>
</body>
</html>